{
    "id": "d745a8b5-7d7a-4983-8352-9cfac725eeb4",
    "itemBarcode": "765475420716",
    "createdDateTime": "2021-05-06T15:45:11.406+00:00",
    "accessionedDateTime": "2021-05-06T15:45:11.406+00:00",
    "remoteStorageId": "de17bad7-2a30-4f1c-bee5-f653ded15629",
    "callNumber": "MCN FICTION",
    "instanceTitle": "The Girl on the Train",
    "instanceAuthor": "Creator A; Creator B",
    "instanceContributors": "Creator A; Creator B",
    "physicalDescription": "",
    "materialType": "dvd",
    "permanentLocationId": "53cf956f-c1df-410b-8bea-27f712cca7c0"
}
